name: RDP + Tailscale + GDrive

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 360

    env:
      RDP_USER: admin
      RDP_PASS: Admin@123

    steps:

    - name: Install rclone
      run: choco install rclone -y

    - name: Install Tailscale
      run: |
        winget install --id Tailscale.Tailscale --accept-package-agreements --accept-source-agreements

    - name: Connect Tailscale
      run: |
        & "C:\Program Files\Tailscale\tailscale.exe" up --authkey "${{ secrets.TS_AUTHKEY }}" --accept-dns=true
        & "C:\Program Files\Tailscale\tailscale.exe" ip -4

    - name: Enable RDP
      run: |
        net user $env:RDP_USER $env:RDP_PASS /add
        net localgroup administrators $env:RDP_USER /add
        reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
        netsh advfirewall set allprofiles state off

    - name: Setup Google Drive
      run: |
        mkdir "$env:APPDATA\rclone"
        echo "[gdrive]" > "$env:APPDATA\rclone\rclone.conf"
        echo "type = drive" >> "$env:APPDATA\rclone\rclone.conf"
        echo "scope = drive" >> "$env:APPDATA\rclone\rclone.conf"
        echo "token = ${{ secrets.GDRIVE_CONFIG }}" >> "$env:APPDATA\rclone\rclone.conf"

    - name: Mount Drive
      run: |
        mkdir C:\gdrive
        rclone mount gdrive: C:\gdrive --vfs-cache-mode full

    - name: Keep Alive
      run: |
        timeout /t 21600
