name: RDP + Google Drive + Tailscale

on:
  workflow_dispatch:

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:

    - name: Install Rclone
      run: choco install rclone -y

    - name: Install Tailscale
      run: |
        choco install tailscale -y
        tailscale up --authkey ${{ secrets.TS_AUTHKEY }} --accept-dns=true

    - name: Create RDP User
      run: |
        net user admin Admin@123 /add
        net localgroup administrators admin /add
        reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
        netsh advfirewall set allprofiles state off

    - name: Setup Google Drive Config
      run: |
        mkdir %USERPROFILE%\.config\rclone
        echo %GDRIVE_CONFIG% > %USERPROFILE%\.config\rclone\rclone.conf

    - name: Mount Google Drive (FIXED)
      run: |
        mkdir C:\gdrive
        rclone mount gdrive: C:\gdrive --vfs-cache-mode full --buffer-size 256M

    - name: Show Tailscale IP
      run: |
        tailscale ip -4

    - name: Keep Alive
      run: |
        timeout /t 21600
